<clr-wizard #wizard [(clrWizardOpen)]="open" [clrWizardClosable]="false" [clrWizardSize]="'md'" [clrWizardDisableStepnav]="true"
  (clrWizardOnFinish)="reset()">
  <clr-wizard-title>HHStorage2 安裝</clr-wizard-title>

  <clr-wizard-button type="previous">上一步</clr-wizard-button>
  <clr-wizard-button type="next">下一步</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>資料庫設定</ng-template>
    <ng-template clrPageNavTitle>資料庫設定</ng-template>
    <form #databaseConfig="ngForm">
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="dataSource">伺服器*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="dataSource" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="dataSourceInput.invalid && (dataSourceInput.dirty || dataSourceInput.touched)">
              <input #dataSourceInput="ngModel" required [(ngModel)]="model.dataSource" type="text" id="dataSource" name="dataSource" placeholder="請輸入伺服器名稱或域名">

              <span class="tooltip-content" clrPosition="left">

                伺服器為必填項目
              </span>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="initialCatalog">資料庫*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="initialCatalog" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="initialCatalogInput.invalid && (initialCatalogInput.dirty || initialCatalogInput.touched)">
              <input #initialCatalogInput="ngModel" required [(ngModel)]="model.initialCatalog" type="text" id="initialCatalog" name="initialCatalog"
                placeholder="請輸入資料庫名稱">

              <span class="tooltip-content" clrPosition="left">

                資料庫為必填項目
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="dbUserId">帳號*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="dbUserId" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="dbUserIdInput.invalid && (dbUserIdInput.dirty || dbUserIdInput.touched)">




              <input #dbUserIdInput="ngModel" required [(ngModel)]="model.dbUserId" type="text" id="dbUserId" name="dbUserId" placeholder="請輸入資料庫使用者帳號">



              <span class="tooltip-content" clrPosition="left">

                帳號為必填項目
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="dbUserPassword">密碼*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="dbUserPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="dbUserPasswordInput.invalid && (dbUserPasswordInput.dirty || dbUserPasswordInput.touched)">




              <input #dbUserPasswordInput="ngModel" required [(ngModel)]="model.dbUserPassword" type="password" id="dbUserPassword" name="dbUserPassword"
                placeholder="請輸入資料庫使用者密碼">



              <span class="tooltip-content">
                密碼為必填項目
              </span>
            </label>
          </div>
        </div>
      </section>
    </form>
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            這些設定在安裝後將不可修改。
          </span>
        </div>
      </div>
    </div>
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            建議您執行下一步前先執行測試連線以確保連線資訊正確。
          </span>
        </div>
      </div>
    </div>

    <ng-template clrPageButtons>
      <button class="btn btn-success-outline" [disabled]="databaseConfig.form.invalid" (click)="testDatabaseConnect()">測試連線</button>
      <clr-wizard-button type="next" [clrWizardButtonDisabled]="databaseConfig.form.invalid">下一步</clr-wizard-button>
    </ng-template>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>管理員帳號設定</ng-template>
    <ng-template clrPageNavTitle>管理員帳號設定</ng-template>
    <form #adminConfig="ngForm">
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="adminName">名稱*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="adminName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="adminNameInput.invalid && (adminNameInput.dirty || adminNameInput.touched)">
              <input #adminNameInput="ngModel" required [(ngModel)]="model.adminName" type="text" id="adminName" name="adminName" placeholder="請輸入管理員名稱">
              <span class="tooltip-content" clrPosition="left">
                管理員名稱為必填項目
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="adminId">帳號*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="adminId" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="adminIdInput.invalid && (adminIdInput.dirty || adminIdInput.touched)">
              <input #adminIdInput="ngModel" required [(ngModel)]="model.adminId" type="text" id="adminId" name="adminId" placeholder="請輸入管理員帳號">
              <span class="tooltip-content" clrPosition="left">
                管理員帳號為必填項目
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="adminPassword">密碼*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="adminPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="adminPasswordInput.invalid && (adminPasswordInput.dirty || adminPasswordInput.touched)">
              <input #adminPasswordInput="ngModel" required [(ngModel)]="model.adminPassword" type="password" id="adminPassword" name="adminPassword"
                placeholder="請輸入管理員密碼">
              <span class="tooltip-content" clrPosition="left">
                管理員密碼為必填項目
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="adminPasswordCheck">確認密碼*: </label>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <label for="adminPasswordCheck" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
              [class.invalid]="model.adminPassword != model.adminPasswordCheck">
              <input #adminPasswordCheckInput="ngModel" required [(ngModel)]="model.adminPasswordCheck" type="password" id="adminPasswordCheck"
                name="adminPasswordCheck" placeholder="請確認管理員密碼">
              <span class="tooltip-content" clrPosition="left">
                密碼不一致
              </span>
            </label>
          </div>
        </div>

      </section>
    </form>
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            這些設定在稍後安裝結束後可進行修改。
          </span>
        </div>
      </div>
    </div>
    <ng-template clrPageButtons>
      <clr-wizard-button type="previous">上一步</clr-wizard-button>
      <clr-wizard-button type="next" [clrWizardButtonDisabled]="adminConfig.form.invalid">開始安裝</clr-wizard-button>

    </ng-template>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>安裝程序</ng-template>
    <ng-template clrPageNavTitle>安裝程序</ng-template>

    <div class="progress loop">
      <progress></progress>
    </div>
    系統正在安裝中，請耐心等候...

    <ng-template clrPageButtons></ng-template>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>安裝完成</ng-template>
    <ng-template clrPageNavTitle>安裝完成</ng-template>
    HHStorage2 已經安裝成功，點擊「完成」關閉安裝視窗。

    <ng-template clrPageButtons>
      <clr-wizard-button type="finish">完成</clr-wizard-button>
    </ng-template>
  </clr-wizard-page>
</clr-wizard>


<clr-modal [(clrModalOpen)]="showDatabaseConnectTestResult">
  <h3 class="modal-title">測試連線結果</h3>
  <div class="modal-body" *ngIf="databaseConnectTestResult?.length;else databaseConnectTestSuccess">
    <div class="alert alert-danger">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            {{databaseConnectTestResult}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #databaseConnectTestSuccess>
    <div class="alert alert-success">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            連線成功
          </span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="showDatabaseConnectTestResult = null">確定</button>
  </div>
</clr-modal>
