<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">歡迎使用</h3>
      HHStorage2 控制台
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="帳號">
      <input class="password" type="password" id="login_password" placeholder="密碼">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          記住登入狀態
        </label>
      </div>
      <div class="error active">
        錯誤的使用者帳號或密碼
      </div>
      <button type="submit" class="btn btn-primary">登入</button>
    </div>
  </form>
</div>
<app-installer #installer></app-installer>
