<div class="content-area">
  <nav class="subnav phoneShow">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active nav-level-2" [routerLink]="['/', 'manage']">總覽</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-level-2" href="#">最新檔案</a>
      </li>
    </ul>
  </nav>
  <div class="card-columns">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <clr-icon shape="cpu" size="32"></clr-icon> CPU使用率
        </div>
        <div style="width: 100%; padding-left: 10%; text-align: center">
          <div style="display: block">
            <canvas baseChart [data]="cpuData" [labels]="['使用', '閒置']" chartType="doughnut"></canvas>

          </div>
          <div style="margin:8px 0 24px">
            <span>
              使用率: {{cpuData[0] | number}}%
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <clr-icon shape="memory" size="32"></clr-icon> RAM使用率
        </div>
        <div style="width: 100%; padding-left: 10%; text-align: center">
          <div style="display: block">
            <canvas baseChart [data]="[healthInfo.totalMemory * (healthInfo.usedMemory/healthInfo.totalMemory),(healthInfo.totalMemory * (1-healthInfo.usedMemory/healthInfo.totalMemory))]"
              [labels]="['使用', '閒置']" chartType="doughnut"></canvas>

          </div>
          <div style="margin:8px 0 24px">
            <span>
              使用率: {{healthInfo.usedMemory/healthInfo.totalMemory*100 | number}}% | 總共: {{healthInfo.usedMemory / 1024/1024/1024|number}}
              GB
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <clr-icon shape="hard-drive" size="32"></clr-icon> 磁碟空間({{driveInfo.label}})
        </div>
        <div style="width: 100%; padding-left: 10%; text-align: center">
          <div style="margin-bottom:6px">
            <span>剩餘</span>
            <span style="font-size: 28px;line-height: 28px;padding-right: 5px">
              {{driveInfo.availableFreeSpace / (1024 * 1024 *1024)| number }}
            </span>
            <span>GB</span>
          </div>
          <div class="progress success" style="position: static;margin: 0;text-align: left;left: auto;">
            <progress max="100" style="position: static;display: block" [value]="(driveInfo.usedSpace/driveInfo.totalSize) *100"></progress>
          </div>
          <div style="margin:8px 0 24px">
            <span>
              已使用 {{driveInfo.usedSpace / (1024 * 1024 *1024)| number }} GB | 總共 {{driveInfo.totalSize / (1024 * 1024 *1024)| number }}
              GB
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-block">
      <h3 class="card-title">
        <clr-icon shape="rack-server" size="36"></clr-icon> 鏡像伺服器狀態
      </h3>
      <p class="card-text">
        無鏡像伺服器
      </p>
    </div>
  </div>

</div>
<nav class="sidenav phoneHidden">
  <section class="sidenav-content">
    <a [routerLink]="['/', 'manage']" class="nav-link active">
      總覽
    </a>
    <a href="..." class="nav-link">
      最新檔案
    </a>
  </section>
</nav>
