<div class="content-area">
  <nav class="subnav phoneShow">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="system-info" routerLinkActive="active" class="nav-link nav-level-2">總覽</a>
      </li>
      <li class="nav-item">
        <a routerLink="news-file" routerLinkActive="active" class="nav-link nav-level-2">最新檔案</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<nav class="sidenav phoneHidden">
  <section class="sidenav-content">
    <a routerLink="system-info" routerLinkActive="active" class="nav-link active">
      總覽
    </a>
    <a routerLink="news-file" routerLinkActive="active" class="nav-link">
      最新檔案
    </a>
  </section>
</nav>
